<html>
<body>

  <!-- JQUERY -->
  <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

  <!-- Paillier JavaScript -->
  <script src="{{ url_for('static', filename='js/jsbn/jsbn.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jsbn/jsbn2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jsbn/prng4.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jsbn/rng.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paillier.js') }}"></script>

  <script>
    $(function () {
      'use strict';

      $('body').append("<div id='results'></div>");
      $('#results').text(5555);
      
      encryptPrediction({{data.toEncrypt}}, function(encPrediction){
        var encPredictionJSON = JSON.stringify(encPrediction, null, '\t');
        $('body').append("<div id='results'></div>");
        $('#results').text(encPredictionJSON);
      });

      function encryptPrediction(prediction, callback) {
        var keys = paillier.generateKeys(16);
        var encPrediction = keys.pub.encrypt(nbv(prediction));

        callback(encPrediction);
      }

    });
  </script>
</body>
</html>
