{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="intro-text">
        <h1 class="name">Breast Cancer Analysis</h1>
      </div>

      <div class="container">

        <form id="file-form" class="col-lg-8 col-lg-offset-2 text-center" enctype="multipart/form-data" style="margin-top:-80px">
          <div class="form-group">
            <label for="file_upload">Medical features file input</label>
            <input id="file_upload" type="file" name="file_upload" size="1048576" accept=".csv">
          </div>
          <button id="submit" type="submit" class="btn btn-primary fileinput-button">Submit</button>
        </form>

        <!-- The global progress bar -->
        <!-- <div id="progress" class="progress">
          <div class="progress-bar progress-bar-success"></div>
        </div> -->

      </div>
    </div>
    <p id="status"> </p>

    <p id="answer"></p>
  </div>
</header>

<!-- File Upload Script -->
<script>

    $(function () {
        'use strict';

        var form = document.getElementById('file-form');
        var fileSelect = document.getElementById('file_upload');
        var uploadButton = document.getElementById('submit');
        var statusDiv = document.getElementById('status');
        var answerDiv = document.getElementById('answer');

        // var answer = {{contentPred}};
        // if(answer){
        //   alert(answer);
        // }

        // var keys = paillier.generateKeys({{numBits}});
        // sessionStorage.setItem("keys",JSON.stringify(keys, null, '\t'));
        // var test = 52;

        // var keys_s = sessionStorage.getItem("keys");

        // console.log(keys_s);
        // var encTest = keys.pub.encrypt(nbv(test));
        // alert(encTest);
        // alert(keys.sec.decrypt(encTest));

        form.onsubmit = function(event) {
            event.preventDefault();

            statusDiv.innerHTML = 'Uploading...';

            // Get the files from the input
            var files = fileSelect.files;

            //Grab just one file, since we are not allowing multiple file uploads
            var file = files[0]; 

            //Check the file type
            if (file.name.match(/[^.]*$/i)[0].toLowerCase() != "csv") {

                statusDiv.innerHTML = 'This file is not a CSV file. Sorry, it cannot be uploaded. Try again with a valid file.';
                return;
            }

            if (file.size >= 1048576 ) {
                statusDiv.innerHTML = 'This file is larger than 1MB. Sorry, it cannot be uploaded.';
                return;
            }

            // Generate the keys
            var keys = paillier.generateKeys({{numBits}});

            processData(file, keys, function(toSend) {
                var toSendJSON = JSON.stringify(toSend, null, '\t');

                // Set up the AJAX request and send the data
                $.ajax({
                    type : "POST",
                    url : "{{ url_for('server') }}",
                    data: toSendJSON,
                    contentType: 'application/json;charset=UTF-8',
                    success: function() {
                        statusDiv.innerHTML = 'The file was uploaded successfully !';
                    },
                    error: function(){
                        statusDiv.innerHTML = 'An error occurred while uploading the file. Try again...';
                    }
                });
            });

        };

        // Déchiffrement 
        // var plaintext;
        // plaintext = keys.sec.decrypt(encC).toString(10);

        function processData(file, keys, callback) {
            // Le fichier transmis doit impérativement être composé de deux lignes : la première comprenant le nom des features, la seconde la data du patient associée
            // Ci-dessous, on prélève uniquement la data du patient puis on la chiffre, avant de la transmettre au serveur
            if (file) {
                var reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function(e) {
                    var content = e.target.result;
                    var docLines = content.split(/\r\n|\n/);
                    var data = docLines[1].split(',');
                    
                    var encData = [];

                    for (var i=1; i<data.length; i++) { 
                        encData.push(keys.pub.encrypt(nbv(prepareElement(data[i])))['0']);
                    }
                    // On envoie maintenant encData au serveur pour qu'il effectue la prédiction !
                    // toSend = {'id':data[0], 'encData':encData, 'pubkey':keys.pub};
                    var toSend = {'id':data[0], 'encData':encData, 'pubkey':keys.pub};
                    callback(toSend);
                };
            }   
        }

        // Cette fonction prépare l'élément data passé en argument, souvent décimal, à subir le chiffrement homomorphe
        function prepareElement(floatElement){
            // Quelques tests pour vérifier que cette fonction renvoie bien les valeurs attendues
            // alert(prepareElement(1.2532));// 12532
            // alert(prepareElement(0.2145278));// 2145
            // alert(prepareElement(0.0052));// 52
            // alert(prepareElement(5241));// 52410000
            // alert(prepareElement(112.21));// 1122100

            var newFloat;

            var decimalPartSize = 0;

            if ((floatElement-Math.floor(floatElement)) > 0){
                decimalPartSize = floatElement.toString().length - Math.floor(floatElement).toString().length - 1;
            }

            var zerosToAdd = 0;
            if (decimalPartSize < {{precisionMaxData}}){
                zerosToAdd = {{precisionMaxData}} - decimalPartSize;
            }

            newFloat = (Math.round(floatElement * Math.pow(10,{{precisionMaxData}})) / Math.pow(10,{{precisionMaxData}})).toString().replace('.','');

            for(var i=0; i<zerosToAdd; i++){
                newFloat += '0';
            }

            return parseInt(newFloat);
        }

});

</script>

<!-- Paillier JavaScript -->
<script src="{{ url_for('static', filename='js/jsbn/jsbn.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsbn/jsbn2.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsbn/prng4.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsbn/rng.js') }}"></script>
<script src="{{ url_for('static', filename='js/paillier.js') }}"></script>

{% endblock %}
