{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="intro-text">
        <h1 class="name">Analyse du cancer du sein</h1>
        <p id="desc">L'objectif de ce POC est d'une part de concevoir un modèle de machine learning capable d'opérer avec des 
        données chiffrées ; d'autre part d'en évaluer la sécurité. Ce projet explore les vulnérabilités qu'un tel système suppose et permet d'en estimer le réalisme.</p>
      </div>

      <div class="container">

        <form id="file-form" class="col-lg-8 col-lg-offset-2 text-center" enctype="multipart/form-data" style="margin-top:-80px">
          <div class="form-group">
            <label for="file_upload">Sélectionnez le fichier médical à transmettre:</label>
            <input id="file_upload" type="file" name="file_upload" size="1048576" accept=".csv">
          </div>
          <button id="submit" type="submit" class="btn btn-primary fileinput-button">Soumettre</button>
        </form>

        <!-- The global progress bar -->
        <!-- <div id="progress" class="progress">
          <div class="progress-bar progress-bar-success"></div>
        </div> -->

      </div>
    </div>
    <p id="status"> </p>
    <p id="answer"></p>

  </div>
</header>

<!-- File Upload Script -->
<script>
      // var answer = {{contentPred}};
        // if(answer){
        //   alert(answer);
        // }

        // var keys = paillier.generateKeys({{numBits}});
        // sessionStorage.setItem("keys",JSON.stringify(keys, null, '\t'));
        // var test = 52;

        // var keys_s = sessionStorage.getItem("keys");

        // console.log(keys_s);
        // var encTest = keys.pub.encrypt(nbv(test));
        // alert(encTest);
        // alert(keys.sec.decrypt(encTest));

        $(function () {
          'use strict';

          var form = document.getElementById('file-form');
          var fileSelect = document.getElementById('file_upload');
          var uploadButton = document.getElementById('submit');
          var statusDiv = document.getElementById('status');
          var answerDiv = document.getElementById('answer');

          function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
          }

          async function demo() {
            await sleep(2000);
          }


          form.onsubmit = function(event) {
            event.preventDefault();

            // Récupération du fichier transmis
            var files = fileSelect.files;
            var file = files[0]; 

            if(file){

              statusDiv.innerHTML = 'Traitement...';

              demo();

              statusDiv.innerHTML = 'Diagnostic : tumeur bénigne !'


        //       // Vérification du type de fichier
        //       if (file.name.match(/[^.]*$/i)[0].toLowerCase() != "csv") {

        //         statusDiv.innerHTML = 'Le fichier transmis n\'est pas un CSV, réessayez avec un fichier valide.';
        //         return;
        //       }

        //       if (file.size >= 1048576 ) {
        //         statusDiv.innerHTML = 'Le fichier tranmis est trop gros (>1MB), réessayez avec un fichier valide.';
        //         return;
        //       }

        //       // Génération des clés
        //       var keys = paillier.generateKeys({{numBits}});

        //       // Préparation des données transmises et chiffrement
        //       processData(file, keys, function(toSend) {
        //         var toSendJSON = JSON.stringify(toSend, null, '\t');

        //           // Requête AJAX et envoi vers le serveur des données chiffrées du patient
        //           $.ajax({
        //             type : "POST",
        //             url : "{{ url_for('server') }}",
        //             data: toSendJSON,
        //             contentType: 'application/json;charset=UTF-8',
        //             success: function(answer) {
        //               statusDiv.innerHTML = 'Le fichier a bien été transmis !';
        //               console.log(answer.prediction);
        //               console.log(keys.sec.decrypt(answer.prediction));

        //             },
        //             error: function(){
        //               statusDiv.innerHTML = 'Une erreur s\'est produite. Réessayez.';
        //             }
        //           });
        //         });
      }
      else {
        statusDiv.innerHTML = 'Aucun fichier transmis... Réessayez.';
      }

    };

        // // Déchiffrement 
        // // var plaintext;
        // // plaintext = keys.sec.decrypt(encC).toString(10);

        // function processData(file, keys, callback) {
        //     // Le fichier transmis doit impérativement être composé de deux lignes : la première comprenant le nom des features, la seconde la data du patient associée
        //     // Ci-dessous, on prélève uniquement la data du patient puis on la chiffre, avant de la transmettre au serveur
        //     if (file) {
        //       var reader = new FileReader();
        //       reader.readAsText(file);
        //       reader.onload = function(e) {
        //         var content = e.target.result;
        //         var docLines = content.split(/\r\n|\n/);
        //         var data = docLines[1].split(',');

        //         var encData = [];

        //         for (var i=1; i<data.length; i++) { 
        //           encData.push(keys.pub.encrypt(nbv(prepareElement(data[i])))['0']);
        //         }
        //         // On envoie maintenant la data au serveur pour analyse
        //         var toSend = {'id':data[0], 'encData':encData, 'pubkey':keys.pub};
        //         callback(toSend);
        //       };
        //     }   
        // }

        // // Cette fonction prépare l'élément passé en argument, souvent décimal, au chiffrement homomorphe
        // function prepareElement(element){
        //     var newFloat;
        //     var decimalPartSize = 0;

        //     if ((element-Math.floor(element)) > 0){
        //       decimalPartSize = element.toString().length - Math.floor(element).toString().length - 1;
        //     }

        //     var zerosToAdd = 0;
        //     if (decimalPartSize < {{precisionMaxData}}){
        //       zerosToAdd = {{precisionMaxData}} - decimalPartSize;
        //     }

        //     newFloat = (Math.round(element * Math.pow(10,{{precisionMaxData}})) / Math.pow(10,{{precisionMaxData}})).toString().replace('.','');

        //     for(var i=0; i<zerosToAdd; i++){
        //       newFloat += '0';
        //     }

        //     return parseInt(newFloat);
        //   }

        });

        
      </script>

      <!-- Paillier JavaScript -->
<!--       <script src="{{ url_for('static', filename='js/jsbn/jsbn.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jsbn/jsbn2.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jsbn/prng4.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jsbn/rng.js') }}"></script>
      <script src="{{ url_for('static', filename='js/paillier.js') }}"></script> -->

      {% endblock %}
